.App {
  display: flex;
  flex-direction: row;
}

.panel {
  display: flex;
  width: 25%;
  height: 100vh;
  flex-direction: column;
  background-color: #a0b4d9;
}

.charts {
  display: flex;
  flex-direction: column;
  background-color: #c8d4ee;
  width: 75%;
}

.chart {
  display: flex;
  height: 50vh;
  width: 100%;
}

canvas {
  width: 100%;
}